<div class="m-5">
    <h2>Title here</h2>
    <div class="field">
        <label for="firstname">Name</label>
        <input
            id="firstname"
            pInputText
            placeholder="Jane"
            type="text"
            class="w-full"
        >
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input
            id="email"
            pInputText
            placeholder="Jane@amigoscode.com"
            type="email"
            class="w-full"
        >
    </div>
    <div class="field">
        <label for="age">Age</label>
        <input
            id="age"
            pInputText
            placeholder="34"
            type="number"
            class="w-full"
        >
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input
            id="password"
            pInputText
            placeholder="Password"
            type="password"
            class="w-full"
        >
    </div>
    <div class="field">
        <label for="gender">Gender</label>
        <select
            class="p-dropdown w-full custom-select"
            id="gender"
        >
            <option value="">Select an option</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
        </select>
    </div>
    <div class="mt-5 flex justify-content-center">
        <button
            pButton
            label="Submit"
            class="mr-7 flex-grow-1 flex align-items-center justify-content-center"
        ></button>
        <button
            pButton
            label="Cancel"
            class="p-button-outlined p-button-danger flex-grow-1 flex align-items-center justify-content-center"
        ></button>
    </div>
  </div>
